.flex-div1{
    display: flex;
    flex-wrap: wrap;
    margin: 5vh 0px;
}
.title{
    width: 50vw;
    float: left;
}
.title h3{
    font-size: 56px;
    text-align: left;
    margin-right: 40px;
    font-weight: 800;
    padding: 40px 0px 40px 50px;
    background: -webkit-linear-gradient(215deg,#d54d5c, royalblue,lightseagreen );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title p{
    margin-right: 40px;
    padding: 0 40px 40px 50px;
    text-align: left;

}
.title a{
    text-decoration: underline;
    color:deepskyblue;
    cursor: pointer;
}

/* Slideshow container */
.slideshow-container {
    flex:1;
    float: left;
    margin: 10px;
}
.slideshow-container img {
    width: 40vw;
    min-width:400px;
    float:left;
}